<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>
<%- include('layouts/scripts');-%>

<h1>
    Admin can delete and update user
</h1>

<section class="get">
    <h3> GET data</h3>
    <div>
        <% for(var i = 0; i < customer.length; i++) { %>
            <article class="data">
                <hr>
                <div> <b>Username:</b> <%= customer[i].username %> </div>
                <br>
                <div> <b>Full name:</b> <%= customer[i].fullName %> </div>
                <br>
                <div> <b>Email:</b> <%= customer[i].email %> </div>
                <br>
                <div> <b>Phone number:</b> <%= customer[i].phoneNumber %> </div>
                <br>
                <div> <b>ID:</b> <%= customer[i]._id %></div>

            </article>
        <% } %>
    </div>
</section>


<%- include('layouts/admin.ejs'); -%>

<script src="js/updateUser.js"></script>
<script src="js/deleteUser.js"></script>

</body>

</html>