<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>
<body>
<%- include('layouts/navbar.ejs');-%>

<section class="get">
    <h3> GET data</h3>
    <div>
        <% for(var i = 0; i < order.length; i++) { %>
            <article class="data">
                <hr>
                <div> <b>Delivery Location:</b> <%= order[i].deliveryLocation %> </div>
                <br>
                <% for(var u = 0; u < order[i].lineItem.items._id.length; u++) { %>
                    <hr>
                    <div> <b>Product:</b> <%= order[i].lineItem.items._id[u].product.productName %> </div>
                    <br>
            </article>
        <% } %>
            <% } %>
    </div>
</section>

<!--
<section class="update">
    <h3>UPDATE data</h3>
    <form id="updateForm" name="updateForm" action="/update/:id" enctype="application/x-www-form-urlencoded">
        <div class="input">
            <label for="id"> ID </label>
            <input type="text" id="id" name="id">
        </div>
        <br>
        <div class="input">
            <label for="username"> Username </label>
            <input type="text" id="updateUsername" name="updateUsername">
        </div>
        <br>
        <button type="submit"> Update</button>
    </form>
</section>
-->

<%- include('layouts/scripts');-%>
</body>
</html>