<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>
<body>
<%- include('layouts/navbar.ejs');-%>

<section class="get">
    <h2> Orders available for pick-up</h2>
    <div>
        <!-- We make a loop through all the orders that has the status of "pending" -->
        <% for(var i = 0; i < availableOrders.length; i++) { %>
            <article class="data">
                <div> <h3>Order id:</h3> <p class="orderName"> <%= availableOrders[i]._id %> </p> </div>
                <br>
                <div> <h3>Ordered by:</h3> <%= availableOrders[i].orderedBy %> </div>
                <br>
                <div> <h3>Delivery Location:</h3> <%= availableOrders[i].deliveryLocation %> </div>
                <br>
                <% let arr = [];
                for (let id in availableOrders[i].lineItem.items) {
                        arr.push(availableOrders[i].lineItem.items[id]);
                    } %>
                <div>
                    <h3>Order:</h3>
                <% for(var u = 0; u < arr.length; u++) { %>
                    <div> <b>Product:</b> <%= arr[u].product.productName %> <br>
                        <b>Quantity:</b> <%= arr[u].qty %>
                    </div>
                    <br>
                </div>



            </article>
            <% } %>
            <button type="button" name="pickUpButton">Take care of this delivery</button>
        <br>
            <br>
        <% } %>
    </div>
</section>

<section class="get">
    <h2> Your picked-up orders:</h2>
    <div>
        <% for(var i1 = 0; i1 < pickedUpOrders.length; i1++) { %>
            <article class="data">
                <div> <h3>Order id:</h3> <p class="orderIdAfterPickUp"> <%= pickedUpOrders[i1]._id %> </p> </div>
                <br>
                <div> <h3>Ordered by:</h3> <%= pickedUpOrders[i1].orderedBy %> </div>
                <br>
                <div> <h3>Picked up by:</h3> <%= pickedUpOrders[i1].pickedUpBy %> </div>
                <br>
                <div> <h3>Delivery Location:</h3> <%= pickedUpOrders[i1].deliveryLocation %> </div>
                <br>
                <% let arr1 = [];
                    for (let id in pickedUpOrders[i1].lineItem.items) {
                        arr1.push(pickedUpOrders[i1].lineItem.items[id]);
                    } %>
                <div>
                    <h3>Order:</h3>
                    <% for(var u1 = 0; u1 < arr1.length; u1++) { %>
                        <div> <b>Product:</b> <%= arr1[u1].product.productName %> <br>
                            <b>Quantity:</b> <%= arr1[u1].qty %></div>
                        <br>
                </div>

            </article>
            <% } %>
            <button type="button" name="deliveredButton">Confirm completed delivery</button>
            <br>
            <br>
        <% } %>
    </div>
</section>

<section class="getDelivered">
    <h2> Your Delivered orders:</h2>
    <div>
        <% for(var i2 = 0; i2 < deliveredOrders.length; i2++) { %>
            <article class="data">
                <div> <h3>Ordered by:</h3> <%= deliveredOrders[i2].orderedBy %> </div>
                <br>
                <div> <h3>Delivery Location:</h3> <%= deliveredOrders[i2].deliveryLocation %> </div>
                <br>
                <% let arr2 = [];
                    for (let id in deliveredOrders[i2].lineItem.items) {
                        arr2.push(deliveredOrders[i2].lineItem.items[id]);
                    } %>
                <div>
                    <h3>Order:</h3>
                    <% for(var u2 = 0; u2 < arr2.length; u2++) { %>
                        <div> <b>Product:</b> <%= arr2[u2].product.productName %> <br>
                            <b>Quantity:</b> <%= arr2[u2].qty %></div>
                        <br>
                </div>

            </article>
            <% } %>
            <br>
            <br>
        <% } %>
    </div>
</section>

<!--
<section class="update">
    <h3>UPDATE data</h3>
    <form id="updateForm" name="updateForm" action="/update/:id" enctype="application/x-www-form-urlencoded">
        <div class="input">
            <label for="id"> ID </label>
            <input type="text" id="id" name="id">
        </div>
        <br>
        <div class="input">
            <label for="username"> Username </label>
            <input type="text" id="updateUsername" name="updateUsername">
        </div>
        <br>
        <button type="submit"> Update</button>
    </form>
</section>
-->
<script src="js/lineStanderChange.js"></script>
<script src="js/lineStanderDelivered.js"></script>
<%- include('layouts/scripts');-%>
</body>
</html>