<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div>
            <% for(var i = 0; i < order.length; i++) { %>
                <div>
                    <h3>
                        Your delivery location: <%= " " + order[i].deliveryLocation%>
                    </h3>
                    <br>
                </div>
                <!-- We reuse the code from lineStander.ejs to get to the products, quantity, price and total price
                of past orders. -->
                <% let arr = [];
                for (let id in order[i].lineItem.items) {
                    arr.push(order[i].lineItem.items[id]);
                    } %>
                    <div>
                        <h3>Order:</h3>
                        <% for(var u = 0; u < arr.length; u++) { %>
                            <div> <b>Product:</b> <%= arr[u].product.productName %>
                                <br>
                                <b>Price:</b> <%= arr[u].product.price %>
                                <br>
                                <b>Quantity:</b> <%= arr[u].qty %>
                            </div>
                            <br>
                        <% } %>
                        <div>
                            <b>Total price:</b> <%= order[i].lineItem.totalPrice %>
                        </div>
                    </div>
                <br>
                <br>
                <div>
                    <h3>
                         Order status:
                    </h3>
                        <% if(order[i].status == "pending") { %>  This order is waiting for a LineStander to pick it up <% } %>
                        <% if(order[i].status == "ongoing") { %> This order has been picked up by a LineStander and will be delivered soon <% } %>
                        <% if(order[i].status == "completed") { %> This order has been delivered <% } %>
                </div>
                    <br>
            <% } %>
        </div>
    </div>
</div>


<%- include('layouts/scripts');-%>
</body>

</html>