<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>

<h1>Order total: <%= totalPrice%>,- </h1>

<form action="/order/new" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <hr>
        <h3>
            Is this billing address correct?
        </h3>

        <% for(var u = 0; u < address.length; u++) { %>
            <% if(address[u]._id == user) { %>
               <p>
                   <%= address[u].streetName + " " + address[u].streetNr%>
                   <br>
                   <%= address[u].zipCode + " " + address[u].city%>
                   <br>
                   <%= address[u].country%>
               </p>
            <% } %>
        <% } %>
        <b>
            If so, please write your delivery location and press place order.
        </b>
        <br>
        <b>
            If not, please press <a href="/address">here</a> to change your billing address.
        </b>
        <br>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="deliveryLocation"><b>Delivery Location:</b></label>
                <input type="text" placeholder="E.g. your camp area" id="deliveryLocation" name="deliveryLocation">
            </div>
        </div>

        <br>
        <button type="submit" class="registerbtn">Place order</button>
    </div>

</form>
<br>
<script></script>
<%- include('layouts/scripts');-%>
</body>

</html>
