<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>
<h1>
    Admin can register a linestander and update/delete linestander
</h1>

<form action="/users/registerLinestander" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <hr>
        <h3> REGISTER new linestander</h3>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="Username"><b>linestander name</b></label><br>
                <input type="text" placeholder="Username" id="username" name="username">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="psw"><b>linestander password</b></label><br>
                <input type="password" placeholder="Enter Password" id="password" name="password">
            </div>
        </div>
        <br>
        <button type="submit" class="registerbtn">Register</button>
        <hr>

    </div>
</form>

<section class="get">
    <h3> GET data</h3>
    <div>
        <% for(var i = 0; i < users.length; i++) { %>
       <article class="data">
           <hr>
           <div> <b>Username:</b> <%= users[i].username %> </div>
           <br>
           <div> <b>ID:</b>  <%= users[i]._id %></div>
       </article>
        <% } %>
    </div>
</section>

<section class="update">
    <h3>UPDATE data</h3>
    <form id="updateForm" name="updateForm" action="/update/:id" enctype="application/x-www-form-urlencoded">
        <div class="input">
            <label for="id"> ID </label>
            <input type="text" id="id" name="id">
        </div>
        <br>
        <div class="input">
            <label for="username"> Username </label>
            <input type="text" id="username" name="username">
        </div>
        <br>
        <button type="submit" id="formButton" name="formButton" formmethod="get"> Update</button>
    </form>
</section>

<section class="new_product">
    <h3>ADD A NEW PRODUCT</h3>
    <form action="/product/new" method ="POST" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>New product</label>
                    <input type="text" class="form-control" placeholder="Product name" id="productName" name="productName">
                </div>
            </div>
            <br>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>Price</label>
                    <input type="number" class="form-control" placeholder="Product price" id="price" name="price">
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="addProduct">Add order</button>
        </div>
    </form>
</section>

<section class="delete">
    <h3>DELETE</h3>
    <form action="/delete" method ="POST" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>ID</label>
                    <input type="text" class="form-control" placeholder="ID" id="id" name="id">
                </div>
            </div>
            <div></div>
            <br>
        </div>
        <button type="submit"> Delete</button>

    </form>
</section>

<%- include('layouts/scripts');-%>
</body>

</html>
