<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>
<%- include('layouts/scripts');-%>


<h1>
    Admin can register a linestander and update/delete linestander
</h1>

<form action="/users/registerLinestander" method="POST" enctype="application/x-www-form-urlencoded">
    <%- include('layouts/form.ejs');-%>
        <button type="submit" class="registerbtn">Register</button>
        <hr>

</form>
<!-- Loop through all the users with the userType linestander. This is saved in the variable users from getRegisterLinestander.js  -->
<section class="get">
    <h3> GET data for LineStander</h3>
    <div>
        <% for(var i = 0; i < users.length; i++) { %>
       <article class="data">
           <hr>
           <div> <b>Username:</b> <%= users[i].username %> </div>
           <br>
           <div> <b>Full name:</b> <%= users[i].fullName%> </div>
           <br>
           <div> <b>Email:</b> <%= users[i].email %> </div>
           <br>
           <div> <b>Phone number:</b> <%= users[i].phoneNumber %> </div>
           <br>
           <div> <b>ID:</b>  <%= users[i]._id %></div>

       </article>
        <% } %>
    </div>
</section>


<%- include('layouts/admin.ejs'); -%>

<script src="js/updateUser.js"></script>
<script src="js/deleteUser.js"></script>


</body>


</html>
