<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>
<%- include('layouts/scripts');-%>


<h1>
    Admin can register a linestander and update/delete linestander
</h1>

<form action="/users/registerLinestander" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="fullname"><b>Linestander full name</b></label><br>
                <input type="text" placeholder="Full name" id="fullName" name="fullName">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="email"><b>Email</b></label><br>
                <input type="text" placeholder="Email" id="email" name="email">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="phoneNumber"><b>Phone number</b></label><br>
                <input type="text" placeholder="Phone number" id="phoneNumber" name="phoneNumber">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label for="Username"><b>Linestander name</b></label><br>
                <input type="text" placeholder="Username" id="username2" name="username2">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="psw"><b>Linestander password</b></label><br>
                <input type="password" placeholder="Enter Password" id="password" name="password">
            </div>
        </div>
        <br>
        <button type="submit" class="registerbtn">Register</button>
        <hr>

    </div>
</form>

<section class="get">
    <h3> GET data</h3>
    <div>
        <% for(var i = 0; i < users.length; i++) { %>
       <article class="data">
           <hr>
           <div> <b>Username:</b> <%= users[i].username %> </div>
           <br>
           <div> <b>Full name:</b> <%= users[i].lineStander.fullName %> </div>
           <br>
           <div> <b>Email:</b> <%= users[i].lineStander.email %> </div>
           <br>
           <div> <b>phoneNumber:</b> <%= users[i].lineStander.phoneNumber %> </div>
           <br>
           <div> <b>ID:</b>  <%= users[i]._id %></div>

       </article>
        <% } %>
    </div>
</section>



<section class="update">
    <h3>UPDATE data</h3>
    <form id="updateForm" name="updateForm" >
        <div class="input">
            <label for="id"> ID </label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="username"> Username </label>
            <input type="text" id="updateUsername">
        </div>
        <div class="input">
            <label for="fullName"> Full name </label>
            <input type="text" id="updateName">
        </div>
        <div class="input">
            <label for="email"> Email </label>
            <input type="text" id="updateEmail">
        </div>
        <div class="input">
            <label for="phoneNumber"> Phone Number </label>
            <input type="text" id="updateNumber">
        </div>
        <br>
        <button type="submit" id="formButton" name="formButton" >Update</button>
    </form>
</section>

<section class="new_product">
    <h3>ADD A NEW PRODUCT</h3>
    <form action="/product/new" method ="POST" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>New product</label>
                    <input type="text" class="form-control" placeholder="Product name" id="productName" name="productName">
                </div>
            </div>
            <br>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>Price</label>
                    <input type="number" class="form-control" placeholder="Product price" id="price" name="price">
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="addProduct">Add order</button>
        </div>
    </form>
</section>

<section class="delete">
    <h3>DELETE</h3>
    <form id="deleteUser">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>ID</label>
                    <input type="text" placeholder="ID" id="deleteId" name="deleteId">
                </div>
            </div>
            <br>
        </div>
        <button type="submit"> Delete</button>

    </form>
</section>

<script src="js/updateUser.js"></script>
<script src="js/deleteUser.js"></script>

</body>


</html>
